{% extends 'base.html' %}

{% block page_title %} Home Page {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" data-background="{{ url_for('static', filename='img/background.jpeg') }}"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            {% if current_user.is_authenticated %}
                            <h3 class="login-heading mb-4">Welcome, {{ current_user.name }}</h3>
                            <a href="{{ url_for('home.dashboard') }}" class="btn btn-primary">Go to Dashboard</a>
                            {% else %}
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-primary">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <form method="POST" action="">
                                {{ csrf_token }}
                                <div class="form-label-group mb-3">
                                    <input type="email" id="inputEmail" name="email" class="form-control"
                                        placeholder="Email address" required autofocus>
                                    <label for="inputEmail">Email address</label>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <input
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit" name="password-login" value="Login with Password" />
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <input
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit" name="pureauth-login" value="Login with PureAuth" />
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}