{% extends 'base.html' %}

{% block page_title %} Login with Password {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" data-background="{{ url_for('static', filename='img/background.jpeg') }}"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Login with Password</h3>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-primary">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <form method="POST" action="">
                                <div class="form-label-group mb-3">
                                    <input type="email" id="inputEmail" value="{{ request.args.email }}" name="email"
                                        class="form-control" placeholder="Email address" required>
                                    <label for="inputEmail">Email address</label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control"
                                        placeholder="Password" name="password" required autofocus>
                                    <label for="inputPassword">Password</label>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <input
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit" value="Login" />
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <a class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            href="{{ url_for('home.index') }}">Back</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}