{% extends 'base.html' %}

{% block page_title %} Login with PureAuth {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" data-background="{{ url_for('static', filename='img/background.jpeg') }}"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Login with PureAuth</h3>

                            <form method="POST" action="{{ url_for('home.pureauth_login') }}">
                                <h5>Login for <strong>{{ request.args.email }}</strong></h5>
                                <input type="hidden" name="email" value="{{ request.args.email }}">
                                <div class="row">
                                    <div class="offset-xl-3 offset-lg-3 offset-md-3 col-xl-6 col-lg-6 col-md-6 col-12">
                                        <div class="pi-qr-wrapper">
                                            <!-- <img src="{{ url_for('static', filename='img/qrcode.png') }}"
                                                style="width: 100%;" alt=""> -->
                                            <img src="data:image/png;base64, {{ qr_code }}" style="width: 100%;" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" id="inputOTP" class="form-control" placeholder="OTP"
                                        name="otp" required autofocus>
                                    <label for="inputOTP">Enter OTP</label>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <button
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit">Login</button>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                        <a class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            href="{{ url_for('home.index') }}">Back</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}